.card {
  width: 280px;
  height: 300px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  /* justify-content: center; */
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 260px;
  height: 200px;
}

.card-text {
  font-size: 18px;
  font-weight: 400;
}

.specs {
  /* border: 1px solid black; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* padding: 5px 10px; */
  /* bottom: 0px; */
  /* transition: all 0.5s; */
  text-decoration: none;
  border: none;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  border-bottom: 0;
  color: black;
  font-weight: 600;
}

.specs:hover {
  /* bottom: 2px; */
  border-bottom: 1px solid black;
}
