.card {
  width: 280px;
  height: 100px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.card-text {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
