.footer {
  max-width: 100vw;
  height: 300px;
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-main {
  display: flex;
  gap: 50px;
  margin: 20px 0 0 0;
}

.foot {
  width: 400px;
  height: 200px;
}

.left {
  color: white;
}

.left h1 {
  font-weight: 400;
}

.left ul {
  list-style: none;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right h1 {
  color: white;
  font-size: 25px;
  font-weight: 200;
}

.dev-name {
  text-decoration: none;
  color: white;
}

.dev {
  padding: 7px 0;
  display: flex;
  justify-content: center;
  letter-spacing: 1.5px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  width: 100%;
  background-color: #333533;
}
