.landing-page {
  max-width: 100vw;
  height: 100vh;
  display: flex;
}

.landing-left {
  width: 50vw;
  height: 100vh;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 40vw;
  height: 50vh;
}

.car-image {
  width: 40vw;
  height: 50vh;
}

.landing-left button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.landing-right {
  width: 50vw;
  height: 100vh;
  border: 1px solid grey;
}
